* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
	background-color: rgb(224, 81, 66);
	color: rgb(244, 165, 108);
	text-align: center;
	text-transform: uppercase;
}

header p{
	padding-top: 30px;
	display: block;
	font-weight: bold;
	font-size: 50px;
	font-family: "Open Sans Condensed";
}

header nav ul li{
	font-family: Roboto;
	display: inline-block;
	margin: 20px 10px;
	font-weight: bold;
	font-size: 13px;
}

iframe{
	width = 100%;
	margin: auto;
	visibility: none;
}

#map {
  height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/*
.slash::before{
	content: "/";
	padding-right: 10px;
}*/

